/** TYPOGRAPHY **/
@font-face {
	font-family: 'Qontra';
	src: url(./fonts/Qontra.otf);
}
@font-face {
	font-family: 'Open Sans Light';
	src: url(./fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: 'Open Sans';
	src: url(./fonts/OpenSans-Regular.ttf);
}

/** COMMON **/
body {
	background-color: #24003b;
}
h1 {
	font-family: 'Qontra', sans-serif;
	letter-spacing: 4px;
	font-size: 2.5rem;
	margin-left: 15%;
	position: absolute;
	top: 15%;
}
#app {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.page {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
/*
 * class added by vue on a leaving page during a transition
 * we pass the leaving page in absolute to avoid the scrolling bar to appear
 * when the entering and leaving page are within the app container
 */
.v-leave-active {
	position: absolute;
	z-index: -1;
	width: 100%;
}
