name: OVH deploy

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.14.1'

      - name: Build Project
        run: |
          npm install
          npm run build

      - name: List output files
        run: ls dist

      - name: Deploy
        uses: garygrossgarten/github-action-scp@release
        with:
          local: build
          remote: /www
          host: ftp.cluster021.hosting.ovh.net
          port: 22
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASSWORD }}
